workflow/Storage.json
{
  "name": "Storage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "storage-service",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0cbc9f7a-ee36-4b44-b7af-73fa4f370a1d",
      "name": "Webhook Listener",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -496,
        192
      ],
      "webhookId": "storage-service"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.method }}",
                    "rightValue": "GET",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "87843b9e-7ba1-4e0c-8bbd-b2de6a048c74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b5543ad-96d9-435e-a48a-b2792e5ac9e4",
                    "leftValue": "={{ $json.body.method }}",
                    "rightValue": "PUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PUT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "14b010f4-b06a-424a-85e2-4569a0724265",
                    "leftValue": "={{ $json.body.method }}",
                    "rightValue": "POST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40c94043-b13d-4ec5-bdec-91de6de98e61",
                    "leftValue": "={{ $json.body.method }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        160
      ],
      "id": "f98c78db-85dc-42de-a333-01833c90d65a",
      "name": "Mode"
    },
    {
      "parameters": {
        "url": "=http://172.31.30.231:3005{{ $('Mode').item.json.body.endpoint }}/{{ $json.data.id }}",
        "options": {}
      },
      "id": "22cc9081-fce8-4823-9435-fa45ff5c1709",
      "name": "GET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.31.30.231:3005{{ $json.body.endpoint }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.data }}",
        "options": {}
      },
      "id": "18bb824e-f0b5-45e2-b6df-107f9cad4668",
      "name": "POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        256
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://172.31.30.231:3005{{ $json.body.endpoint }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.data }}",
        "options": {}
      },
      "id": "0526a4d2-c9a4-4684-8019-c01260898824",
      "name": "PUT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        128
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://172.31.30.231:3005{{ $json.body.endpoint }}",
        "options": {}
      },
      "id": "6b3eefa9-584f-4cda-b2fd-26d486123962",
      "name": "DELETE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        384
      ]
    },
    {
      "parameters": {
        "url": "http://172.31.30.231:3005/api/profile",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        32
      ],
      "id": "1e228967-d1b4-4715-a05e-fe8673f92000",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Listener": {
      "main": [
        [
          {
            "node": "Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mode": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4239278a-8ee2-42c8-b95d-da9e2dae6ec5",
  "meta": {
    "instanceId": "103a46b1e16c7dcad7372c67388b5377ecdcf9c2d3cb2af984f129ade87c3692"
  },
  "id": "KM5rZhZwH12rff1M",
  "tags": []
}